Add RATS part in Privacy consideration

According to Usama's comment: only mentioned the privacy consideration from EDHOC EAD is not enough, it should refer also to section 11 of RFC9334.